.header{
    width: 19%;
    height: 100vh;
    background-color: rgba(231, 199, 194, 1)
}
.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    color:rgba(78, 76, 76, 0.7);
}
.profileCircle{
    background-image: url(./../../Image/profile.jpg);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: 0, -58;
    background-size: cover;
}
h1, h2{
    padding: 0px;
    margin: 0px;
}
h1{
    margin-top: 17px;
    font-size: 1.7rem;
}
h2{
    font-size: 1.2rem;
}
@media only screen and (max-device-width: 480px){
.header{
    width: 100%;
    height: 13vh;
}
.profile{
    display: none;
}
}